body {
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
    font-family: consolas, monaco, monospace;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    font-size: 20px;
}


.bright {
    color: #00dd00;
    text-shadow: lime 0 0 5px;
}


.dark {
    color: green;
    text-shadow: green 0 0 5px;
}


.black {
    visibility: hidden;
}


#sample {
    position: fixed;
    color: transparent;
}
