body {
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
    font-family: consolas, monaco, monospace, '微軟正黑體';
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    font-size: 20px;
}


#screen {
    white-space: nowrap;
}


#sample {
    position: fixed;
    color: transparent;
}


.cell {
    white-space: pre;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    text-align: center;
}


.hidden {
    visibility: hidden;
}


/* ========================================================================= */
/* Themes */
/* ------------------------------------------------------------------------- */

.gold.dark {
    color: #ccaa22
}

.gold.bright {
    color: #ffdd33;
    text-shadow: #ffdd33 0 0 5px;
}

.gold.head {
    color: white;
    text-shadow: white 0 0 5px;
}


.green.dark {
    color: green;
    text-shadow: green 0 0 5px;
}

.green.bright {
    color: #00dd00;
    text-shadow: lime 0 0 5px;
}

.green.head {
    color: lightgray;
    text-shadow: lime 0 0 5px;
}


.cyan.dark {
    color: #00cccc;
}

.cyan.bright {
    color: cyan;
    text-shadow: cyan 0 0 5px;
}

.cyan.head {
    color: white;
    text-shadow: cyan 0 0 5px;
}


.blue.dark {
    color: #0000dd;
}

.blue.bright {
    color: blue;
    text-shadow: blue 0 0 5px;
}

.blue.head {
    color: lightgray;
    text-shadow: blue 0 0 5px;
}


.red.dark {
    color: #cc0000;
}

.red.bright {
    color: red;
    text-shadow: red 0 0 5px;
}

.red.head {
    color: lightgray;
    text-shadow: red 0 0 5px;
}


.orange.dark {
    color: #cc6600;
}

.orange.bright {
    color: orange;
    text-shadow: orange 0 0 5px;
}

.orange.head {
    color: lightgray;
    text-shadow: orange 0 0 5px;
}


.yellow.dark {
    color: #cccc00;
}

.yellow.bright {
    color: yellow;
    text-shadow: yellow 0 0 5px;
}

.yellow.head {
    color: lightgray;
    text-shadow: yellow 0 0 5px;
}


.magenta.dark {
    color: #cc00cc;
}

.magenta.bright {
    color: magenta;
    text-shadow: magenta 0 0 5px;
}

.magenta.head {
    color: lightgray;
    text-shadow: magenta 0 0 5px;
}


.white.dark {
    color: #909090;
}

.white.bright {
    color: lightgray;
    text-shadow: lightgray 0 0 5px;
}

.white.head {
    color: white;
    text-shadow: white 0 0 5px;
}


.black.dark {
    color: #303030;
}

.black.bright {
    color: #606060;
    text-shadow: gray 0 0 5px;
}

.black.head {
    color: #909090;
    text-shadow: gray 0 0 5px;
}

/* ------------------------------------------------------------------------- */
/* Themes */
/* ========================================================================= */
